body {
  margin: 0;
  display: grid;
  grid-template-areas:
    "header header"
    "sectionHero sectionAbout"
    "sectionProjects sectionProjects"
    "footer footer"
  ;
}

.header {
  grid-area: header;
}

.sectionHero {
  grid-area: sectionHero;
}

.sectionAbout {
  grid-area: sectionAbout;
}

.sectionProjects {
  grid-area: sectionProjects;
}

.footer {
  grid-area: footer;
}

/* HEADER */
/*.navList {
  display: flex;
  gap: 16px;
  list-style-type: none;
  padding-inline-start: 0;
}
*/

.navList {
  list-style-type: none;
  padding-inline-start: 0;
  display: grid;
  grid-template-areas: "home about projects";
  gap: 16px;
}

.home {
  grid-area: home;
}

.about {
  grid-area: about;
}

.projects {
  grid-area: projects;
}

.logo {
  height: 32px;
  width: 32px;
  background-color: white;
}

/* MAIN */
.section {
  min-height: 100vh;
}

/* FOOTER */
.footer {
  /*display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;*/
  border-bottom: 3px solid black;
  padding: 16px;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: black;
}
