body {
  margin: 0;
  display: grid;
  grid-template-areas:
    "header             header"
    "sectionHero        sectionAbout"
    "sectionProjects    sectionProjects"
    "footer             footer"
  ;
}

.header {
  grid-area: header;
}

.sectionHero {
  grid-area: sectionHero;
}

.sectionAbout {
  grid-area: sectionAbout;
}

.sectionProjects {
  grid-area: sectionProjects;
}

.footer {
  grid-area: footer;
}

/* HEADER */
/*.navList {
  display: flex;
  gap: 16px;
  list-style-type: none;
  padding-inline-start: 0;
}
*/

.navList {
  list-style-type: none;
  padding-inline-start: 0;
  display: grid;
  grid-template-areas: "home about projects";
  gap: 16px;
}

.home {
  grid-area: home;
}

.about {
  grid-area: about;
}

.projects {
  grid-area: projects;
}

.logo {
  height: 32px;
  width: 32px;
  background-color: white;
}

/* MAIN */
.section {
  min-height: 100vh;
}

.sectionHero {
  /* Er også en selektor lenger opp i koden for grid-area */
  display: grid;
  /*grid-template-columns: 100px 150px 200px 250px;*/
  /*grid-template-columns: repeat(4, 200px);*/
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
}

.heroHeading {
  grid-column: 1;
  grid-row: 1;
}

.heroText1 {
  grid-column: 1;
  grid-row: 2;
}

.heroText2 {
  grid-column: 1;
  grid-row: 3;
}

.heroImg {
  grid-column: 2;
  grid-row: 1 / 4;
}
 
/* FOOTER */
.footer {
  /*display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;*/
  border-bottom: 3px solid black;
  padding: 16px;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: black;
}
